# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

#maven
/target

#intellij idea
/.idea
/temperature-sensor.iml

#front
/package-lock.json
/node_modules
/src/main/resources/static/build
